
<div class="step-card">
    <div class="num-step"><span class="number">1</span></div>
    <h3>{{'intro.step.1.title' | translate}}</h3>
    <p>{{'intro.step.1.body' | translate}}</p>
</div>
<div class="step-card">
    <div class="num-step"><span class="number">2</span></div>
    <h3>{{'intro.step.2.title' | translate}}</h3>
    <p>{{'intro.step.2.body' | translate}}</p>
</div>
<div class="step-card">
    <div class="num-step"><span class="number">3</span></div>
    <h3>{{'intro.step.3.title' | translate}}</h3>
    <p>{{'intro.step.3.body' | translate}}</p>
</div>
<div class="step-card">
    <div class="num-step"><span class="number">4</span></div>
    <h3>{{'intro.step.4.title' | translate}}</h3>
    <p>{{'intro.step.4.body' | translate}}</p>
</div>
<div class="step-card">
    <div class="num-step"><span class="number">5</span></div>
    <h3>{{'intro.step.5.title' | translate}}</h3>
    <p>{{'intro.step.5.body' | translate}}</p>
</div>
