@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,400,600|Permanent+Marker');

$grid-columns:      12;
$grid-gutter-width: 30px;

$mobile-view-br: 576px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
$bp-app: (
  xs: 370px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// standard spacing
$content-padding: 24px;
$b-radius: 4px;


// color
$primary-color: rgba(255, 250, 251,1);
$secondary-color: rgba(103, 224, 198,1);
$third-color: rgba(51, 101, 138,1);
$contrast-color : rgba(229, 99, 153,1);

$color-dark: rgba(34, 34, 34,1);
$color-light: rgba(255, 250, 251,1);

.color-contrast{
  color: $contrast-color;
}

// font
$font-main:'Libre Franklin', sans-serif;
$font-input:'Permanent Marker', cursive;

//element space
$section-padding : 25px;

$control-bar-h : 50px;
$footer-h : 45px;
$footer-control-h : $control-bar-h + $footer-h ;

$control-bar-h-mobile : $control-bar-h / 1.5;
$footer-h-mobile : $footer-h * 1.5;
$footer-control-h-mobile : $footer-control-h;


// CLASS
%shadow{
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

%animation{
  -webkit-transition: all 250ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
   -moz-transition: all 250ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
     -o-transition: all 250ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
        transition: all 250ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */

-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
   -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
     -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
        transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
}


@mixin transition() {
  -webkit-transition: all 250ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
   -moz-transition: all 250ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
     -o-transition: all 250ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
        transition: all 250ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */

-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
   -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
     -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
        transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
}


%reset-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
	/* Remove excess padding and border in Firefox 4+ */
	&::-moz-focus-inner {
	    border: 0;
	    padding: 0;
	}
}
