<section class="no-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="icon-wrapper icon-flip">
					<!-- <img class="icon" src="./assets/imgs/git_2.svg" alt=""> -->
					<svg class="icon icon-linkedin"><use xlink:href="./assets/imgs/git_2.svg#Layer_1"></use></svg>
					<!-- <svg class="icon icon-git"><use xlink:href="./assets/imgs/git_2.svg"></use></svg> -->
				</div>
				<div class="icon-wrapper">
					<svg class="icon icon-linkedin"><use xlink:href="./assets/imgs/symbol-defs.svg#icon-linkedin"></use></svg>
				</div>
			</div>
		</div>
	</div>
</section>